{% extends "app/layout.html" %}

{% block content %}

<br />
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">添加硬件</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">编辑硬件</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">删除硬件</button>
<br />
<br />

<table class="table table-striped">
    <tr>
        <td>active</td>
        <td>success</td>
        <td>warning</td>
        <td>danger</td>
        <td>info</td>
    </tr>
    <tr>
        <td>active</td>
        <td>success</td>
        <td>warning</td>
        <td>danger</td>
        <td>info</td>
    </tr>
    <tr>
        <td>active</td>
        <td>success</td>
        <td>warning</td>
        <td>danger</td>
        <td>info</td>
    </tr>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">管理硬件信息</h4>
            </div>
            <form action="." method="POST">
            {% csrf_token %}
            <div class="modal-body">
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}:{{ field }} 
                {{ field.errors }}
            </div>
            {% endfor %}       
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">保存</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          </div>
        </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(function(){
        $('#id_pc_description').blur(function () {
            var val = $(this).val();
            if (val) {
                var desc = val.match(/--------\[ 概览 \][\s\S]*?--------\[ 主板 \]/gm)[0];

                $('#id_system_os').val($.trim(desc.match(/操作系统[\s\S]*?处理器/gm)[0].replace(/操作系统|处理器/g, '')));
                $('#id_pc_cpu').val($.trim(desc.match(/处理器[\s\S]*?主板/gm)[0].replace(/处理器|主板/g, '')));
                $('#id_pc_memory').val($.trim(desc.match(/内存[\s\S]*?主硬盘/gm)[0].replace(/内存|主硬盘/g, '')));
            }
        });
    });
</script>
{% endblock %}