{% extends "app/layout.html" %}
{% load myfilter %} #加载自定义标签

{% block content %}

<div class="jumbotron">
    <ul>
        <li>还差肖总办公室的硬件信息没统计</li>
        <li>滕伟还拿着一个硬盘</li>
        <li>原来陈韵的低配置机子在一楼的档案室面前，包括主机<span style="color:dodgerblue">[1]和显示器[1]</span>(暂时放在一楼楼梯间)</li>
        <li>106 <span style="color:brown">显示器：好[11]</span></li>
        <li>106 有一个全新的<span style="color:brown">显示器[1]</span></li>
        <li>106 <span style="color:blueviolet">主机：好[2]、待检测[4]、坏[1](缺少硬盘，腾哥那里，估计也开不了机了)</span></li>
        <li>106 有一个全新的有线路由器,UPS</li>
        <li>106 有一台以前<span style="color:dodgerblue">杨艺的主机 联想启天 M4500 [1]</span>，含有绝密信息，还没有备份</li>
        <li>306 借给泰坦 <span style="color:tomato">联想电脑 Erazer D5050：[10]</span></li>
        <li>307 借给分市场 <span style="color:tomato">联想显示器：[1]</span></li>
        <li>303 <span style="color:darkgreen">联想显示器：好[4]、戴尔显示器：好[1]</span></li>
        <li>303 <span style="color:dodgerblue">联想主机 Erazer D5050：好[1]、戴尔主机 Dell OptiPlex 5040：好[2]、原李健主机 组装机：好[1]</span></li>
        <li>303 <span style="color:fuchsia">联想服务器主机 Lenovo 万全 T350：好[1]</span></li>
        <li>303 <span style="color:tomato">内存条：256MB DDR1-400[1]、1GB DDR3-240[1]</span></li>
        <li>106搬家 显示器放在一楼楼梯仓库，主机在303，有些在325 326</li>
        <li>移动硬盘在阿杜手上</li>
        <li>4个柜子在培训部，不懂编号和类型</li>
        <li>3台Lenovo Erazer D5050 在综合部</li>
    </ul>
</div>

{% endblock %}

