{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <ul>
        <li>还差肖总办公室的硬件信息没统计</li>
        <li>滕伟还拿着一个硬盘</li>
        <li>原来陈韵的低配置机子在一楼的档案室面前，包括主机和显示器</li>
        <li>106 <span style="color:brown">显示器：好[10]、坏[8]</span></li>
        <li>106 <span style="color:blueviolet">主机：好[2]、装不了系统[2]、驱动装不上[2]、待检测[4]、开不了机[17]</span></li>
        <li>106 有一个全新的有线路由器</li>
        <li>303 <span style="color:darkgreen">联想显示器：好[4]、戴尔显示器：好[1]</span></li>
        <li>303 <span style="color:dodgerblue">联想主机：好[3]、戴尔主机：好[2]</span></li>
        <li>303 <span style="color:fuchsia">联想服务器主机：好[1]</span></li>
        <li>303 <span style="color:tomato">内存条：256MB DDR1-400[1]、1GB DDR3-240[1]</span></li>
        <li>合计：显示器-好[15]、坏[8]</li>
        <li>合计：主机----好[7]、坏[21]</li>
    </ul>
</div>

{% endblock %}