{% extends "app/layout.html" %}

{% block content %}
  
<br />
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">添加记录</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">编辑记录</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">删除记录</button>
<br />
<br />

<table class="table table-striped">
    <tr>
        <td>active</td>
        <td>success</td>
        <td>warning</td>
        <td>danger</td>
        <td>info</td>
    </tr>
    <tr>
        <td>active</td>
        <td>success</td>
        <td>warning</td>
        <td>danger</td>
        <td>info</td>
    </tr>
    <tr>
        <td>active</td>
        <td>success</td>
        <td>warning</td>
        <td>danger</td>
        <td>info</td>
    </tr>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">管理变更记录</h4>
            </div>
            <form action="." method="POST">
            {% csrf_token %}
            <div class="modal-body">
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}:{{ field }} 
                {{ field.errors }}
            </div>
            {% endfor %}       
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">保存</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          </div>
        </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
   
</script>
{% endblock %}