{% extends "app/layout.html" %}

{% block content %}

<!--
<br/>
<div class="row">
    <div class="col-xs-4">
        <button class="snowui-datagrid-btnAdd btn btn-primary">添加硬件</button>
        &nbsp;&nbsp;&nbsp;
        <button class="snowui-datagrid-btnModify btn btn-warning"> 编辑硬件</button>
        &nbsp;&nbsp;&nbsp;
        <button class="snowui-datagrid-btnDelete btn btn-danger">删除硬件</button>
    </div>
</div>
<br/>
-->

<table class="snowui-datagrid" data-options="controller:'hardware',sortName:'pc_score'">
    <thead>
    <tr>
        <th data-options="checkbox:true" width="35">#</th>
        <th data-options="field:'serial_number'" width="150" title="最后编号：{{ maxNo }}">资产编号</th>
        <th data-options="field:'name'" width="250">资产名称</th>
        <th data-options="field:'person_name'" width="100">使用者</th>
        <th data-options="field:'position'" width="100">所在位置</th>
        <th data-options="field:'pc_score',searchable:false">鲁大师评分</th>
        <th data-options="field:'state'">状态</th>
        <th data-options="field:'remark'">备注</th>

        <!--<th width="100">操作系统</th>-->
        <!---->
        <!--<th data-options="field:'pc_score',sortable:true">鲁大师评分</th>-->
        <!---->
        <!--<th>CPU</th>-->
        <!---->
        <!--<th>内存</th>-->
        <!---->
        <!--<th>MAC</th>-->
        <!---->
        <!--<th>IP4</th>-->
        <!---->
        <!--<th>价值</th>-->
        <!---->
        <!--<th width="100">取得时间</th>-->
        <!---->
        <!--<th width="100">备注</th>-->
        <!---->
        <!--<th width="100">详细参数</th>-->

    </tr>
    </thead>
</table>

{% endblock %}

{% block scripts %}

{% endblock %}