{% extends "app/layout.html" %}
{% load myfilter %} #加载自定认标签

{% block content %}
<!--
<br/>
<div class="row">
    <div class="col-xs-11">
        <button class="snowui-linkbutton btn btn-default" id="btnBack">返回</button>
    </div>
    <div class="col-xs-1">
        <button class="snowui-linkbutton btn btn-success" id="btnSave">保存</button>
    </div>
</div>
<br/>
-->
<form class="snowui-form" data-options="controller:'hardware2',id:{{ id }}">
    <div class="form-group">
        <label class="col-lg-1">使用者</label>
        <div class="col-lg-3">
            <select class="form-control" name="person_id">
                {% for item in dsPerson %}
                <option value="{{ item.0 }}">{{ item.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <label class="col-lg-1">存放地点</label>
        <div class="col-lg-3">
            <input type="text" class="form-control" name="position" value=""/>
        </div>
        <label class="col-lg-1">使用部门</label>
        <div class="col-lg-3">
            <select class="form-control" name="use_department">
                <option value="人事代理部" >人事代理部</option>
                <option value="人事代理部(职改办)" selected="selected">人事代理部(职改办)</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-1">资产编号</label>
        <div class="col-lg-3">
            <input type="text" class="form-control" name="serial_number" value=""/>
        </div>
        <label class="col-lg-1">资产名称</label>
        <div class="col-lg-3">
            <input type="text" class="form-control" name="name" value="" />
        </div>
        <label class="col-lg-1">资产分类</label>
        <div class="col-lg-3">
            <!--
             <select class="form-control" name="category">
                <option value="">请选择....</option>
                <option value="台式机">台式机</option>
                <option value="PC服务器">PC服务器</option>
                <option value="笔记本电脑" selected="selected">笔记本电脑</option>
            </select>
                -->
            <input type="text" class="form-control" name="category" value="笔记本电脑" readonly="readonly" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-1">资产数量</label>
        <div class="col-lg-3">
            <input type="number" class="form-control" name="quantity" min="1" value="1"/>
        </div>
        <label class="col-lg-1">单价</label>
        <div class="col-lg-3">
            <input type="number" class="form-control" name="unit_price" min="0" value="0"/>
        </div>
        <label class="col-lg-1">财政资金</label>
        <div class="col-lg-3">
            <input type="number" class="form-control" name="fiscal_funds" min="0" value="0"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-1">资金来源</label>
        <div class="col-lg-3">
            <select class="form-control" name="fund_source">
                <option value="人才办" selected="selected">人才办</option>
                <option value="智力">智力</option>
            </select>
        </div>
        <label class="col-lg-1">取得时间</label>
        <div class="col-lg-3">
            <input type="date" class="form-control" name="get_time"/>
        </div>
        <label class="col-lg-1">状态</label>
        <div class="col-lg-3">
            <select class="form-control" name="state">
                <option value="OK">OK</option>
                <option value="BAD">BAD</option>
                <option value="UNKNOWN">UNKNOWN</option>
                <option value="SCRAP">SCRAP</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-1">备注</label>
        <div class="col-lg-11">
            <textarea class="form-control" name="remark" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-1">操作系统</label>
        <div class="col-lg-3">
            <input type="text" class="form-control" name="system_os"/>
        </div>
        <label class="col-lg-1">鲁大师</label>
        <div class="col-lg-3">
            <input type="number" class="form-control" name="pc_score" min="0" value="0"/>
        </div>
        <label class="col-lg-1">CPU</label>
        <div class="col-lg-3">
            <input type="text" class="form-control" name="pc_cpu"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-1">内存</label>
        <div class="col-lg-3">
            <input type="text" class="form-control" name="pc_memory"/>
        </div>
        <label class="col-lg-1">MAC</label>
        <div class="col-lg-3">
            <input type="text" class="form-control" name="pc_mac"/>
        </div>
        <label class="col-lg-1">IP4</label>
        <div class="col-lg-3">
            <input type="text" class="form-control" name="pc_ip"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-1">详细描述</label>
        <div class="col-lg-11">
            <textarea class="form-control" name="pc_description" rows="10"></textarea>
        </div>
    </div>
</form>

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('textarea[name="pc_description"]').blur(function () {
            var val = $(this).val();
            if (val) {
                var ma = val.match(/--------\[ 概览 \][\s\S]*?--------\[ 主板 \]/gm);

                if (ma && ma.length > 0) {
                    var desc = ma[0];
                    $('input[name="system_os"]').val($.trim(desc.match(/操作系统[\s\S]*?处理器/gm)[0].replace(/操作系统|处理器/g, '')));
                    $('input[name="pc_cpu"]').val($.trim(desc.match(/处理器[\s\S]*?主板/gm)[0].replace(/处理器|主板/g, '')));
                    $('input[name="pc_memory"]').val($.trim(desc.match(/内存[\s\S]*?主硬盘/gm)[0].replace(/内存|主硬盘/g, '')));
                }
            }
        });
    });
</script>
{% endblock %}