{% extends "app/layout.html" %}

{% block content %}

<!--
<br/>
<div class="row">
    <div class="col-xs-4">
        <button class="snowui-datagrid-btnAdd btn btn-primary">添加硬件</button>
        &nbsp;&nbsp;&nbsp;
        <button class="snowui-datagrid-btnModify btn btn-warning">编辑硬件</button>
        &nbsp;&nbsp;&nbsp;
        <button class="snowui-datagrid-btnDelete btn btn-danger">删除硬件</button>
    </div>
</div>
<br/>
-->

<table class="snowui-datagrid" data-options="controller:'hardware2',sortName:'serial_number'">
    <thead>
    <tr>
        <th data-options="checkbox:true" width="35">#</th>
        <th data-options="field:'serial_number'" width="150">资产编号</th>
        <th data-options="field:'name'" width="250">资产名称</th>
        <th data-options="field:'unit_price'" width="100">单价</th>
        <th data-options="field:'position'" width="100">所在位置</th><th data-options="field:'state'">状态</th>
        <th data-options="field:'remark'">备注</th>
    </tr>
    </thead>
</table>

{% endblock %}

{% block scripts %}

{% endblock %}