{% extends "app/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-xs-12 pull-left">
        <label class="radio-inline">
            <input type="radio" name="pc_state" value="0"> 所有
        </label>
        <label class="radio-inline">
            <input type="radio" name="pc_state" value="1"> 正在使用
        </label>
        <label class="radio-inline">
            <input type="radio" name="pc_state" value="2"> 可用空闲
        </label>
        <label class="radio-inline">
            <input type="radio" name="pc_state" value="3"> 损坏
        </label>
        <label class="radio-inline">
            <input type="radio" name="pc_state" value="4"> 退回
        </label>
        <label class="radio-inline">
            <input type="radio" name="pc_state" value="5"> 待检测
        </label>
        <label class="radio-inline">
            <input type="radio" name="pc_state" value="6"> 服务器
        </label>
    </div>
</div>

<table class="snowui-datagrid" data-options="controller:'hardware',sortName:'pc_score'">
    <thead>
    <tr>
        <th data-options="checkbox:true" width="35">#</th>
        <th data-options="field:'serial_number'" width="150" title="最后编号：{{ maxNo }}">资产编号</th>
        <th data-options="field:'name'" width="250">资产名称</th>
        <th data-options="field:'person_name'" width="100">使用者</th>
        <th data-options="field:'position'" width="100">所在位置</th>
        <th data-options="field:'pc_score',searchable:false">鲁大师评分</th>
        <th data-options="field:'state'">状态</th>
        <th data-options="field:'remark'">备注</th>
    </tr>
    </thead>
</table>

{% endblock %}

{% block scripts %}

<script>
    $(function () {
        $('[name="pc_state"]').on('change', function () {
            snowui.datagrid.load($('.snowui-datagrid'), {
                queryParams: {
                    'pc_state': $(this).val()
                }
            });
        });
    });
</script>

{% endblock %}