{% extends "app/layout.html" %}

{% block content %}

<br/>
<div class="row">
    <div class="col-xs-4">
        <button id="btnAdd" type="button" class="btn btn-primary">添加记录</button>
        &nbsp;&nbsp;&nbsp;
        <button id="btnModify" type="button" class="btn btn-warning">编辑记录</button>
        &nbsp;&nbsp;&nbsp;
        <button id="btnDelete" type="button" class="btn btn-danger">删除记录</button><!-- data-toggle="modal" -->
    </div>
</div>
<br/>

<table class="snowui-datagrid" data-options="controller:'change'">
    <thead>
    <tr>
        <th data-options="checkbox:true" width="35">#</th>
        <th data-options="field:'serial_number',sortable:true" width="100">编号</th>
        <th data-options="field:'name',sortable:true" width="60">姓名</th>
        <th data-options="field:'type',sortable:true" width="100">变更类型</th>
        <th data-options="field:'create_time',sortable:true" width="100">创建时间</th>
        <th data-options="field:'state',sortable:true" title="0:待处理 1:已处理 -1:不处理" width="100">状态</th>
        <th data-options="field:'remark'">变更说明</th>
    </tr>
    </thead>
    <!--
    <tbody>
        {% for row in data %}
        <tr>
            <td><input type="checkbox" value="{{ row.id }}"/></td>
            <td>{{ row.serial_number }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.type }}</td>
            <td>{{ row.create_time|date:"Y-m-d" }}</td>
            <td>{{ row.state }}</td>
            <td>{{ row.remark }}</td>
        </tr>
        {% endfor %}
    </tbody>
        -->
</table>

{% endblock %}

{% block scripts %}

{% endblock %}