{% extends "app/layout.html" %}

{% block content %}
 
<table class="snowui-datagrid" data-options="controller:'change',sortName:'create_time',sortOrder:'desc'" >
    <thead>
    <tr>
        <th data-options="checkbox:true" width="35">#</th>
        <th data-options="field:'serial_number'" width="100">编号</th>
        <th data-options="field:'name'" width="100">姓名</th>
        <th data-options="field:'type'" width="100">变更类型</th>
        <th data-options="field:'create_time'" width="100">创建时间</th>
        <th data-options="field:'state'" title="0:待处理 1:已处理 -1:不处理" width="60">状态</th>
        <th data-options="field:'remark'">变更说明</th>
    </tr>
    </thead>
</table>

{% endblock %}

{% block scripts %}

{% endblock %}