{% extends "app/layout.html" %}

{% block content %}
<!--
<br/>
<div class="row">
    <div class="col-xs-11">
        <button class="snowui-linkbutton btn btn-default" id="btnBack">返回</button>
    </div>
    <div class="col-xs-1">
        <button class="snowui-linkbutton btn btn-success" id="btnSave">保存</button>
    </div>
</div>
<br/>
-->
<!-- url:'/get/person/{{ id }}',saveUrl:'/edit/person' -->
<form class="snowui-form" data-options="controller:'person',id:{{ id }}">
    <div class="form-group">
        <label class="col-lg-1">姓名</label>
        <div class="col-lg-3">
            <input type="text" class="form-control" name="name"/>
        </div>
        <label class="col-lg-1">所在位置</label>
        <div class="col-lg-3">
            <input type="text" class="form-control" name="position"/>
        </div>
        <label class="col-lg-1">联系方式</label>
        <div class="col-lg-3">
            <input type="text" class="form-control" name="contact"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-1">备注</label>
        <div class="col-lg-11">
            <textarea class="form-control" name="remark" rows="3"></textarea>
        </div>
    </div>
</form>

{% endblock %}

{% block scripts %}
<script>
    //$(function () {
    //    $('#btnSave').on('click', function () {
    //        $.post('/edit/person', $(".snowui-form").serialize(), function (result) {
    //            alert(result.success + result.msg);
    //        });
    //    });
    //});
</script>
{% endblock %}